body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  color: black;
  font-weight: bold;
}

#menu {
background-image: url("../images/the-flatiron-building.png");
background-repeat: no-repeat;
background-size: cover;
background-color: dimgray;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
font-size: 32px;
}

h3 {
  font-size: 23px;
}

h4 a, #footer a {
  color: white;
  font-size: 18px;
}



#special {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-color: dimgray;
}

#footer {
  text-align: left;
  color: white;
  background-color: dimgray;
  font-size: 11px;
}
